<h1 style="margin: 20px 0px 0px 40px">Dashboard</h1>

<mat-card>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent">payments</mat-icon>
            </div>
            <mat-card-title>Current Balance</mat-card-title>
            <mat-card-subtitle>${{ balance }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn">sell</mat-icon>
            </div>
            <mat-card-title>Incomes</mat-card-title>
            <mat-card-subtitle>${{ totalIncomes }}</mat-card-subtitle>
            <div class="container-btn">
              <button mat-raised-button color="warn" routerLink="/info/1">
                Incomes
              </button>
            </div>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="primary">collections_bookmark</mat-icon>
            </div>
            <mat-card-title>Expenses</mat-card-title>
            <mat-card-subtitle>${{ totalExpenses }}</mat-card-subtitle>
            <div class="container-btn">
              <button mat-raised-button color="primary" routerLink="/info/0">
                Expenses
              </button>
            </div>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <app-line-chart [data]="data" />
      </mat-grid-tile>
      <mat-grid-tile>
        <app-doughnut-chart [data]="data" />
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
