<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content class="mat-container">



  <form [formGroup]="myFormChangePass" class="full-width">
    <mat-grid-list cols="1" rowHeight="90px">
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Restore passcode</mat-label>
          <input matInput autocomplete="off" type="text" formControlName="restorePasscode" />
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New password</mat-label>
          <input matInput autocomplete="off" type="password" formControlName="password" />
          <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm password</mat-label>
          <input matInput autocomplete="off" type="password" formControlName="confirmPassword" />
          <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    [disabled]="loading || myFormChangePass.invalid"
    (click)="changePassword()"
  >
    Change Password
  </button>


</mat-dialog-actions>