/* You can add global styles to this file, and also import other style files */


:root {
    --bg-color: #17356d;
    --text-color: #fff;
}

body{
    margin: 0;
}

.buttons-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap: 20px;
  }